.node-toggle-content-region {
  position: relative;
}

div.node-toggle-content-link {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 700;
}
[dir="rtl"] a.node-toggle-content-link {
  left: 1em;
  right: auto;
}

div.node-toggle-content-link button,
div.node-toggle-content-link button:active,
div.node-toggle-content-link button:focus {
  background: none;
  border: none;
  outline: none;
  padding: 2px;
  font-family: monospace;
}
